

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Vazir.woff2') format('woff2'),
        url('../fonts/Vazir.woff') format('woff'),
        url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
}


.MuiCard-root::-webkit-scrollbar {
    display: none !important;
  
     
}

.glass-orange {
    background: linear-gradient(
      135deg,
      rgba(255, 140, 0, 0.35),
      rgba(255, 94, 0, 0.12)
    );
  
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  
    border: 1px solid rgba(255, 165, 0, 0.5);
    border-radius: 24px;
  
    box-shadow:
      0 0 30px rgba(255, 140, 0, 0.2),
      inset 0 0 20px rgba(255, 255, 255, 0.08);
  }

  /* مخفی کردن اسکرول‌بار در کل صفحه */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* مخفی کردن اسکرول‌بار در مرورگرهای مختلف */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari و Edge */
}
